<div class="row">
  <h1>{{question.text}}</h1>
</div>

<div ng-show="question.answers.length" class="row">
  <h2>Answers:</h2>
  <ul class="list-unstyled">
    <li ng-repeat="item in question.answers | orderBy: '-voteTotal'">
      <div class="row">
        <div class="col-md-1">
        <a href="" ng-click="addUpvote(item)"><i class="fa fa-arrow-up"></i></a>{{ item.upvotes}}<br>
        <a href="" ng-click="addDownvote(item)"><i class="fa fa-arrow-down"></i></a> {{item.downvotes}} <br>
        <p>{{ item.voteTotal }}</p>
        </div>
        <div class="col-md-8">
          {{ item.text }}
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <h2>Add an answer:</h2>
  <form ng-submit="addAnswer()" class="form-inline" role="form">
    <div class="form-group">
      <textarea type="text" ng-model="answerText" class="large-text-area" placeholder="Write your answer here"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div class="row">
  <button ui-sref="questions" class="btn btn-default">Back</button>
</div>
