<div ng-show="questions.length">
  <div class="well">
    <h1>Here are all of the questions:</h1>
    <p>Key: <i class="fa fa-check-circle-o"></i> means it has been answered</p>

      <form class="form-inline" role="form">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="search"><i class="fa fa-search"></i></span>
            <input ng-model="query.text" class="form-control" type="text" placeholder="Search">
          </div>
        </div>
      </form>
      <br>
      <br>
      <div class="panel panel-default" id="questions">
        <div class="panel panel-body">
        <h2 ng-show="questions.length && !filtered.length">No Matches</h2>
        <ul class="list-unstyled">
          <li ng-repeat="item in filtered = (questions | filter:query)">
            <h4><a ui-sref="question({ questionId: item.id })">{{ item.text }}</a> <i ng-show="item.answers.length" class="fa fa-check-circle-o"></i></h4>
          </li>
        </ul>
      </div>
      </div>
  </div>
</div>


<div class="well">
    <h3>Add a new question:</h3>
    <form ng-submit="QuestionsFactory.addQuestion()" role="form">
      <div class="form-group">
        <div class="input-group">
          <input type="text" ng-model="QuestionsFactory.questionText" class="form-control" placeholder="Write your question here:">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Submit</button>
          </span>
        </div>
      </div>

    </form>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <button ui-sref="home" class="btn btn-yellow btn-block">Back</button>
  </div>
</div>
