<div ng-show="questions.length" class="row">
  <div class="well">
    <h1>Here are all of the questions:</h1>

    <form class="form-inline" role="form">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="search"><i class="fa fa-search"></i></span>
          <input ng-model="query.text" class="form-control" type="text" placeholder="Search">
        </div>
      </div>
    </form>
    <br>
    <br>
    <div class="panel panel-default" id="questions">
      <div class="panel panel-body">
      <h2 ng-show="questions.length && !filtered.length">No Matches</h2>
      <ul class="list-unstyled">
        <li ng-repeat="item in filtered = (questions | filter:query)" ng-hide="item.answers.length">
          <h4><a ui-sref="question({ questionId: item.id })">{{ item.text }}</a></h4>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <button ui-sref="home" class="btn btn-yellow btn-block">Back</button>
  </div>
</div>
